extends layout

include includes/sharedHTMLfunctions.jade

block content

  h1= name

  include ./includes/addPostModal.jade

  if posts
    - var keys = []
    - var urlList = []
    - var postsList = []

    // Loop through blog posts and reverses order into 
    // postsList to display newest posts ontop
    - var x = 0;
    - for (var i = posts.length - 1; i >= 0; i--)
      - postsList[x] = posts[i];
      - x++

    section#interests.resume-section.p-3.p-lg-5.d-flex.flex-column
      .my-auto
        h1.mb-5 Blog
          - var i = 0
          - var x = 0;
          - for (var i = imageUrl.length - 1; i >= 0; i--)
            - urlList[x] = imageUrl[i]
            - x++

          - var i = 0;         
          each post in postsList
            div#post-container(class='container-fluid')
              .row
                .col-md-6
                  a(href='/blog/posts/#{post._id}')   

                    // Post Title
                    h1#post-title #{post.title}

                    // Time of posting
                    if post.updated_at
                      h3#post-timestamp= 'Updated at: ' + moment(post.updated_at).format('MMMM Do YYYY, h:mm a')
                    else
                      h3#post-timestamp= 'Created at: ' + moment(post.created_at).format('MMMM Do YYYY, h:mm a') 


                    // Post Image
                    img#post-img(src=urlList[i])

                .col-md-1.offset-md-5

                  if isAdmin

                    // Include the deletePostModal
                    include ./includes/deletePostModal.jade
                    .post-glyphicons
                      // Delete Post Button
                      button.glyphicon.glyphicon-remove(id='#{post._id}')

                      // Edit Post Button
                      a(href='blog/posts/#{post._id}/edit')
                        button.glyphicon.glyphicon-edit

                    // Include the deletePostModal functionality
                    include ./includes/deletePostScript.jade


              .row
                .col-md-12
                  div#content-text-container
                    p(id='content-text') 
                      | #{post.content}
              - i++

                  
  else
    section#interests.resume-section.p-3.p-lg-5.d-flex.flex-column
      .my-auto
        h2.mb-5 Blog
          div(class='post-container')

  script.

    window.onload = function() {
      function isOverflown(element) {
        return element.scrollHeight > element.clientHeight || element.scrollWidth > element.clientWidth;
      }

      if (isOverflown(document.getElementById("content-text"))) {
        var contentText = document.getElementById("content-text-container");
        var newdiv = document.createElement("DIV");
        newdiv.classList.add('myStyle');
        newdiv.appendChild(document.createTextNode("..."));
        contentText.appendChild(newdiv);
      }
    }

  if isAdmin
    button#addPostBtn.login100-form-btn Add Post







