extends layout

block content
  h1= name

  section#interests.resume-section.p-3.p-lg-5.d-flex.flex-column
        .my-auto
          h2.mb-5 Blog
          each post in posts
            div(class='post-container')
              a(href='/blog/posts/#{post._id}')
                div(class='post-img')
                  img(src='#{post.image.path}' style='max-width:400px;height:auto;')
                div(class='post-title')
                  p
                    | #{post.title}
                div(class='post-content')
                  p
                    | #{post.content}


  if isAdmin
    // Trigger/Open The Modal
    button#myBtn Add Post
    include ./includes/modal.jade



